<h2>Лабораторная работа №1 - Внешние ссылки и якоря!</h2>
<section id="bigText">
    <h3 class="name-text-style">
        <a id="anchor_beginText"></a>
        ТЫСЯЧА  ОДНА  СТРАСТЬ,
        <br>или
        <br>СТРАШНАЯ  НОЧЬ
    </h3>
    <div class="anchor-text">
        <p><a ng-click="gotoAnchor('middleText')" class='cursor-pointer-style'>В середину рассказа</a></p>
        <p><a ng-click="gotoAnchor('endText')" class='cursor-pointer-style'>В конец рассказа</a></p>
    </div>
    <p>
        На башне св. Ста сорока шести мучеников пробила полночь. Я задрожал. Настало время. 
        Я судорожно схватил Теодора за руку и вышел с ним на улицу. Небо было темно, как типографская тушь. 
        Было темно, как в шляпе, надетой на голову. Тёмная ночь — это день в ореховой скорлупе. 
        Мы закутались в плащи и отправились. Сильный ветер продувал нас насквозь. Дождь и снег — эти мокрые братья — страшно били в наши физиономии. 
        Молния, несмотря на зимнее время, бороздила небо по всем направлениям. Гром, грозный, величественный спутник прелестной, как миганье голубых глаз, 
        быстрой, как мысль, молнии, ужасающе потрясал воздух. Уши Теодора засветились электричеством. Огни св. Эльма с треском пролетали над нашими головами. Я взглянул наверх. 
        Я затрепетал. Кто не трепещет пред величием природы? По небу пролетело несколько блестящих метеоров. Я начал считать их и насчитал 28. Я указал на них Теодору.
    </p>
    <p>— Нехорошее предзнаменование! — пробормотал он, бледный, как изваяние из каррарского мрамора.</p>
    <p>
        Ветер стонал, выл, рыдал... Стон ветра — стон совести, утонувшей в страшных преступлениях. Возле нас громом разрушило и зажгло восьмиэтажный дом. 
        Я слышал вопли, вылетавшие из него. Мы прошли мимо. До горевшего ли дома мне было, когда у меня в груди горело полтораста домов? 
        Где-то в пространстве заунывно, медленно, монотонно звонил колокол. Была борьба стихий. Какие-то неведомые силы, казалось, трудились над ужасающею гармониею стихии. 
        Кто эти силы? Узнает ли их когда-нибудь человек?
    </p>
    <p>Пугливая, но дерзкая мечта!!!</p>
    <p>
        Мы крикнули кошэ. 1 Мы сели в карету и помчались. Кошэ — брат ветра. Мы мчались, как смелая мысль мчится в таинственных извилинах мозга. 
        Я всунул в руку кошэ кошелёк с золотом. Золото помогло бичу удвоить быстроту лошадиных ног.
    </p>
    <p>— Антонио, куда ты меня везёшь? — простонал Теодор.— Ты смотришь злым гением... В твоих чёрных глазах светится ад... Я начинаю бояться...</p>
    <p>
        Жалкий трус!! Я промолчал. Он любил её. Она любила страстно его... Я должен был убить его, потому что любил больше жизни её. 
        Я любил её и ненавидел его. Он должен был умереть в эту страшную ночь и заплатить смертью за свою любовь. Во мне кипели любовь и ненависть. 
        Они были вторым моим бытием. Эти две сестры, живя в одной оболочке, производят опустошение: они — духовные вандалы.
    </p>
    <p>— Стой! — сказал я кошэ, когда карета подкатила к цели.</p>
    <p>
        Я и Теодор выскочили. Из-за туч холодно взглянула на нас луна. Луна — беспристрастный, молчаливый свидетель 
        сладостных мгновений любви и мщения. Она должна была быть свидетелем смерти одного из нас. Пред нами была пропасть, 
        бездна без дна, как бочка преступных дочерей Даная. 2 Мы стояли у края жерла потухшего вулкана. 
        Об этом вулкане ходят в народе страшные легенды. Я сделал движение коленом, и Теодор полетел вниз, 
        в страшную пропасть. Жерло вулкана — пасть земли.
    </p>
    <p>— Проклятие!!! — закричал он в ответ на моё проклятие.<p>
        <a id="anchor_middleText"></a>
    <div class="anchor-text">
        <p><a ng-click="gotoAnchor('beginText')" class='cursor-pointer-style'>Перчитать начало рассказа</a></p>
        <p><a ng-click="gotoAnchor('endText')" class="cursor-pointer-style">Прочитать конец рассказа</a></p>
    </div>
    <p>
        Сильный муж, ниспровергающий своего врага в кратер вулкана из-за прекрасных глаз женщины,— 
        величественная, грандиозная и поучительная картина! Недоставало только лавы!
    </p>
    <p>
        Кошэ. Кошэ — статуя, поставленная роком невежеству. Прочь рутина! Кошэ последовал за Теодором. 
        Я почувствовал, что в груди у меня осталась одна только любовь. Я пал лицом на землю и заплакал от восторга. 
        Слёзы восторга — результат божественной реакции, производимой в недрах любящего сердца. Лошади весело заржали. 
        Как тягостно быть не человеком! Я освободил их от животной, страдальческой жизни. 
        Я убил их. Смерть есть и оковы и освобождение от оков.
    <p>
    <p>Я зашёл в гостиницу «Фиолетового гиппопотама» и выпил пять стаканов доброго вина.<p>
    <p>
        Через три часа после мщения я был у дверей её квартиры. Кинжал, друг смерти, помог мне по 
        трупам добраться до её дверей. Я стал прислушиваться. Она не спала. Она мечтала. Я слушал. 
        Она молчала. Молчание длилось часа четыре. Четыре часа для влюблённого — четыре девятнадцатых столетия! 
        Наконец она позвала горничную. Горничная прошла мимо меня. Я демонически взглянул на неё. 
        Она уловила мой взгляд. Рассудок оставил её. Я убил её. Лучше умереть, чем жить без рассудка.
    </p>
    <p>
        — Анета! — крикнула она.— Что это Теодор нейдёт? Тоска грызёт моё сердце. Меня душит какое-то 
        тяжёлое предчувствие. О Анета! сходи за ним. Он наверно кутит теперь вместе с безбожным, ужасным Антонио!.. 
        Боже, кого я вижу?! Антонио!
    </p>
    <p>Я вошёл к ней. Она побледнела.<p>
    <p>— Подите прочь! — закричала она, и ужас исказил её благородные, прекрасные черты.</p>
    <p>
        Я взглянул на неё. Взгляд есть меч души. Она пошатнулась. В моём взгляде она увидела всё: и смерть Теодора, 
        и демоническую страсть, и тысячу человеческих желаний... Поза моя — было величие. В глазах моих светилось электричество. 
        Волосы мои шевелились и стояли дыбом. Она видела пред собою демона в земной оболочке. Я видел, что она залюбовалась мной. 
        Часа четыре продолжалось гробовое молчание и созерцание друг друга. Загремел гром, и она пала мне на грудь. Грудь мужчины — крепость женщины. 
        Я сжал её в своих объятиях. Оба мы крикнули. Кости её затрещали. Гальванический ток пробежал по нашим телам. Горячий поцелуй...
    </p>
    <a id="anchor_endText"></a>
    <p>
        Она полюбила во мне демона. Я хотел, чтобы она полюбила во мне ангела. «Полтора миллиона франков отдаю бедным!» — 
        сказал я. Она полюбила во мне ангела и заплакала. Я тоже заплакал. Что это были за слёзы!!! Через месяц в церкви св. 
        Тита и Гортензии происходило торжественное венчание. Я венчался с ней. Она венчалась со мной. Бедные нас благословляли! 
        Она упросила меня простить врагов моих, которых я ранее убил. Я простил. С молодою женой я уехал в Америку. 
        Молодая любящая жена была ангелом в девственных лесах Америки, ангелом, пред которым склонялись львы и тигры. Я был молодым тигром. 
        Через три года после нашей свадьбы старый Сам носился уже с курчавым мальчишкой. Мальчишка был более похож на мать, чем на меня. 
        Это меня злило. Вчера у меня родился второй сын... и сам я от радости повесился... Второй мой мальчишка протягивает ручки к 
        читателям и просит их не верить его папаше, потому что у его папаши не было не только детей, но даже и жены. Папаша его боится женитьбы, как огня. 
        Мальчишка мой не лжёт. Он младенец. Ему верьте. Детский возраст — святой возраст. Ничего этого никогда не было... Спокойной ночи!
    </p>
    <div class="anchor-text">
        <p><a ng-click="gotoAnchor('beginText')" class='cursor-pointer-style'>Вернуться к началу рассказа</a></p>
        <p><a ng-click="gotoAnchor('middleText')" class="cursor-pointer-style">Вернуться в середину рассказа</a></p>
    </div>
</section>
<p>
    Все лабораторные работы выполнялись с помощью сайта <a href="http://htmlbook.ru/">htmlbook.ru</a> 
    , а так же иных ресурсов доступных в сети интернет в окрытом доступе.
</p>
<a href="https://ru.wikipedia.org/wiki/%D0%9F%D0%BE%D1%82%D0%BE%D0%BB%D0%BE%D0%BA_%D0%A1%D0%B8%D0%BA%D1%81%D1%82%D0%B8%D0%BD%D1%81%D0%BA%D0%BE%D0%B9_%D0%BA%D0%B0%D0%BF%D0%B5%D0%BB%D0%BB%D1%8B">
    <img src="images/religion.jpg" height="100" width="125" class="left" alt="Example content image" />
</a>
<p>
    Просто представлен фото потолка секстинской капеллы, так как было не понятно что еще нужно в первой лабораторной
    работе, при нажатии на нее можно перейти по ссылке и узнать подробности.
</p>
<h3>Напоследок небольшой абзац</h3>
<p>
    Язык HTML был разработан британским учёным Тимом Бернерсом-Ли приблизительно в 1986—1991 годах в стенах ЦЕРНа в Женеве в Швейцарии. 
    HTML создавался как язык для обмена научной и технической документацией, пригодный для использования людьми, не являющимися специалистами 
    в области вёрстки. HTML успешно справлялся с проблемой сложности SGML путём определения небольшого набора структурных и 
    семантических элементов — дескрипторов. Дескрипторы также часто называют «тегами». С помощью HTML можно легко создать относительно простой, 
    но красиво оформленный документ. Помимо упрощения структуры документа, в HTML внесена поддержка гипертекста. 
    Мультимедийные возможности были добавлены позже.
</p>